// Define variables for your color scheme

// For example:
$red: #DF2A29;
$blue: #1D5A91;
$dark-blue: #154e80;
$yellow: #FCE803;
$light-yellow: #fffeee;
$dark-yellow: #dbcb23;
$orange: #E67E22;
$green: #3ba676;
$gray: #17181A;
$med-gray: #3a3a3a;
$light-gray: #d5dae4;
$white: #ffffff;
