<div class="main-card">
<h1> Your toolUp bookings: </h1>
  <div class="tool-name">

    <h1> You made a booking </h1>
    <h2> Have fun! </h2>
    <p> You booked <%=@tool.name%> </p>
  </div>
 </div>
