<div class="banner"
    style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
    url('<%= image_path "toolup-banner.jpg" %>');">
  <div class="container">
    <div class="row d-flex justify-content-end">
      <div class="col-md-6 d-flex flex-column justify-content-end">
        <h1>toolUp</h1>
        <p class="lead">Why buy when you can borrow!</p>
        <div class="row">
          <div class="col">
            <%= link_to "Borrow a tool", tools_path, class: "col-6 mt-2 btn btn-lg btn-primary rounded text-start text-decoration-none cta" %>
          <div class="col">
            <%= link_to "or start lending tools", new_tool_path, class: "col-6 d-block mt-3 rounded text-start cta" %>
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
