.navbar-lewagon {
  justify-content: space-between;
  background: $yellow;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  color: $gray;
}

.toolup-logo-banner {
  height: 100px;
}
